<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarify</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header class="header">
        <h1 class="logo"><span class="red">S</span>ummarify</h1>
    </header>
    

    <!-- Main Container -->
    <div class="container">
        <main class="content">
            <h2>AI Text Summarizer. Online</h2>
            <div class="features">
                <div class="feature" id="text-summary">
                    <img src="assets/images/text.png" alt="Text Summary Icon">
                    <h3>Text Summary</h3>
                </div>
                <div class="feature" id="pdf-summary">
                    <img src="assets/images/pdf.png" alt="PDF Summary Icon">
                    <h3>PDF Summary</h3>
                </div>
                <div class="feature" id="audio-summary">
                    <img src="assets/images/audio.png" alt="Audio Icon">
                    <h3>Audio to Text Summary</h3>
                </div>
                <div class="feature" id="about-us">
                    <img src="assets/images/aboutus.png" alt="About Us Icon">
                    <h3>About Us</h3>
                </div>
            </div>
        </main>
    </div>

    <footer class="footer">
        <p>© 2024-2025 Summarify Ltd. All rights reserved</p>
    </footer>

    <script src="assets/js/script.js"></script>
</body>
</html>
